
/* Homepage */
#heroHomepage {
    background-image: url(../img/hero/index.hero.jpg);
    background-size: cover;
    min-height: 50vh;
    background-position: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);

}



/* Masters of Vision hero */
#heroMastersofVision {
    background-image: url(../img/hero/masters.of.vision.hero.jpg);
    background-size: cover;
    min-height: 50vh;
    background-position: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);

}



/* Legacy in Stone hero */
#heroLegacyinStone {
    background-image: url(../img/hero/legacy.in.stone.hero.jpg);
    background-size: cover;
    min-height: 50vh;
    background-position: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);

}




/* Timeless Forms hero */
#heroTimelessForms {
    background-image: url(../img/hero/timeless.forms.hero.jpg);
    background-size: cover;
    min-height: 50vh;
    background-position: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);

}




 /* Museums Hero */
 #heroMuseums {
    background-image: url(../img/hero/museums.hero.jpg);
    background-size: cover;
    min-height: 50vh;
    background-position: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);

}



 /* Blog Hero */
 #heroBlog {
    background-image: url(../img/hero/blog.hero.jpg);
    background-size: cover;
    min-height: 50vh;
    background-position: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);

}



/* Osman hamdi bey Hero */
#heroOsmanhamdibey {
    background-image: url(../img/hero/osman.hamdi.bey.hero.jpg);
    background-size: cover;
    min-height: 50vh;
    background-position: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);

}

/* Dolmabahce Museum Hero */
#heroDolmabahceMuseum {
    background-image: url(../img/hero/dolmabahce.hero.jpg);
    background-size: cover;
    min-height: 50vh;
    background-position: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);

}

/* Mimar sinan Museum Hero */
#heroMimarsinan {
    background-image: url(../img/hero/mimar.sinan.hero.jpg);
    background-size: cover;
    min-height: 50vh;
    background-position: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);

}

/* Modern Museum Hero */
#heroModern {
    background-image: url(../img/hero/modern.hero.jpg);
    background-size: cover;
    min-height: 50vh;
    background-position: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);

}

/* Archaeological Hero */
#heroArchaeologicalMuseum {
    background-image: url(../img/hero/archaeological.mueseum.hero.jpg);
    background-size: cover;
    min-height: 50vh;
    background-position: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);

}



/* Collections Hero */
 #heroCollections {
    background-image: url(../img/hero/collections.hero.jpg);
    background-size: cover;
    min-height: 50vh;
    background-position: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);

}

/* About Hero */
#heroAbout {
    background-image: url(../img/hero/about.hero.01.jpg);
    background-size: cover;
    min-height: 50vh;
    background-position: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);

}

